<footer>
  <div class="footer-header">
    <div class="footer-header-content not-drag">
    </div>
  </div>
  <div class="footer-body">
    <div class="row">
      <div class="col col-md-4 col-12 footer-logo"></div>
      <div class="col col-md-8 col-12 footer-description">
        <p>
          <b>노윤서 Yoon Seo Noh</b>
        </p>
        <p>
          가톨릭중앙의료원 의생명산업연구원|가톨릭스마트헬스케어센터<br>
          Tel. +82-2-2258-7867 | Fax +82-2-2258-8297 | E-mail yesyoonseo@gmail.com<br>
          서울특별시 서초구 반포대로 222 서울성모병원 별관<br>
          Catholic Institute Of Smart Healthcare Center
        </p>
      </div>
    </div>
  </div>
</footer>
