<div [ngClass]="{'content-body patten-true': !opt }">
  <div class="content-wrapper" [ngClass]="{'no-top': opt}">
    <div class="content-inner">
      <div class="title-wrapper">
        <h2>Welcome</h2>
      </div>
    </div>
    <article [ngClass]="{ 'background-true' : !opt, 'about': !opt } ">
      <div class="content-inner is-about-detail" *ngIf="opt">
        <p [innerHTML]="event?.description | safeHtml "></p>
      </div>
      <div class="content-inner is-about-detail" *ngIf="!opt">
        <p [innerHTML]="event?.description2 | safeHtml "></p>
      </div>
    </article>
  </div>
</div>
