// 페이징 커스터마이징
.pagination-wrapper {
  .custom-pagination {
    display: flex;

    .page-number {
      padding: 4px 8px;
      border: 1px solid var(--gray20);

      &:hover {
        cursor: pointer;
        background: var(--gray3);
        transition: all .3s ease;
      }

      &.current {
        transition: all .3s ease;
        color: white;
        background: var(--main-color);
        border-color: var(--main-color);
      }
    }

    .pagination-next,
    .pagination-previous,
    .pagination-first-page,
    .pagination-last-page {
      cursor: pointer;
      border: 1px solid var(--gray20);
      padding: 4px 8px;

      &:hover {
        background: var(--gray3);
        transition: all .3s ease;
      }

      &.is-end {
        transition: all .3s ease;
        background: var(--gray4);
      }
    }
  }
}

.player-wrapper {
  .dropdown-item {
    &:active {
      color: black;
      background-color: #fff;
    }

    &:focus {
      outline: none;
    }
  }

  .dropdown-menu {
    min-width: 5rem;

  }

  .player {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 32px;

    .embed-container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      max-width: 100%;
      display: flex !important;
      justify-content: center !important;

      iframe,
      object,
      embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex !important;
        justify-content: center !important;
      }
    }
  }

  .banners-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    position: relative;
    padding: 0 34px;
    margin-bottom: 32px;

    .banners-btn {
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 34px;
      height: 100%;
      background: #EAEAEA;

      &.banners-prev {
        left: 0;

        img {
          transform: rotate(-90deg);
        }
      }

      &.banners-next {
        right: 0;

        img {
          transform: rotate(90deg);
        }
      }
    }

    ng-image-slider {
      display: flex;

      .ng-image-slider {
        .ng-image-slider-container .main .img-div {
          position: relative;
          padding: 0 8px;
          box-shadow: none;
          border-radius: 0;
          cursor: pointer;

          img {
            max-width: 80%;
            max-height: 80%;
            border-radius: 0;
            // max-height: 40px ;
          }

          &::before {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto 0;
            width: 1px;
            height: 14px;
            border: 1px solid #E2E2E2;
            box-sizing: border-box;
            content: '';
          }
        }
      }
    }
  }

  .chat-wrapper {
    .chat-label {
      font-size: 15px;
      margin-bottom: 4px;
    }

    textarea {
      resize: none;
    }

    .reply-user {
      gap: 16px;
    }

    .reply-list {
      margin-bottom: 20px;
    }

    .reply-content {
      white-space: pre-wrap;
    }

    .reply-user-date {
      color: var(--gray18);
    }

    .textarea-wrapper {
      textarea {
        font-size: 12px;
        padding-top: 18px;
      }
    }

    .reply-item {
      margin-bottom: 12px;
      border-bottom: 1px solid var(--gray3);
      padding: 6px 10px;

      &.noti {
        background: var(--pink);
      }
    }

    .btu-submit-wrapper {
      .btn-submit {
        color: var(--white);
        background: var(--main-color);
        min-width: 50px;
        font-size: 16px;
      }
    }
  }

  .btn-collapse-wrapper {
    align-items: center;
    height: 40px;
    margin-bottom: 20px;
    background: var(--gray3);

    img {
      transform: rotate(180deg);
    }

    &:hover {
      cursor: pointer;
      background: var(--gray14);
      transition: all .3s ease;
    }

    padding:2px 8px;

    .btn-program {
      font-size: 15px;
      font-weight: 700;
      margin-right: 15px;
    }
  }

  .program-agendas {
    padding-bottom: 40px;
  }
}
