.content-body {
  .login-noti {
    max-width: 550px;
    margin: 0 auto;

    ul li {
      list-style-type: disc;
    }
  }

  /* 로그인 배너 */
  .banner-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
    max-width: 1200px;
    margin-bottom: 30px;
    position: relative;
    text-align: center;

    img {
      width: 100%;
      // max-width: 1600px;
      max-width: 100%;
    }
  }

  .content-wrapper {
    padding: 40px 0;
  }

  .content-wrapper.login {
    padding-top: 0;
  }

  .login-title {
    font-size: 1.66rem;
    color: var(--gray16);
    // font-weight: bold;
    text-align: center;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    .input-wrapper {
      display: flex;
      flex-direction: column;
      color: var(--gray16);

      label {
        font-size: 1.66rem;
        font-weight: bold;
      }

      input {
        font-size: 1.66rem;
        padding-left: 8px;
        width: 550px;
        height: 40px;
        border: none;
        background-color: var(--gray7);
      }

      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px var(--gray7) inset;
      }

      input:focus {
        outline: 1px solid var(--gray16);
      }

      margin-bottom:8px;
    }
  }

  .login-bottom {
    margin-top: 8px;
    display: flex;
    width: 100%;
    max-width: 550px;
    height: 18px;
    font-size: 1.1rem;
    flex-direction: column;
    margin-bottom: 16px;

    .password-error {
      width: 100%;
      height: 19px;
      text-align: center;
      color: var(--red);
    }


    .regist-button {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      button {
        background: none;
        border: none;
        color: var(--gray16);
      }
    }
  }

  .btn-qa a {
    font-size: 16px;
    color: var(--gray17);
  }
}

.submit-button {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px;

  button {
    width: 160px;
    height: 40px;
    font-size: 1.16rem;
    color: var(--white);
    background: var(--main-color);
  }
}

.policy-alert-btn {
  display: none;
}

.modal-dialog {
  max-width: 826px;
}

.find-password {
  background: RGBA(0, 0, 0, .8);

  .modal-content {
    padding: 16px;
    width: 100%;
    max-width: 500px;

    .modal-title {
      font-size: 1.6rem;
      padding-bottom: 8px;
      border-bottom: 1px solid black;
    }

    .find-password-error {
      color: red;
      margin-bottom: 16px;
    }


    .modal-description {
      padding: 16px 0;

      p {
        text-align: center;
        font-size: 1.4rem;
      }
    }

    .btn-submit {
      display: flex;
      flex-direction: column;
      align-items: center;

      button {
        font-size: 10pt;

        &.confirm-btn {
          width: 100%;
          max-width: 250px;
          height: 50px;
          color: var(--white);
          font-weight: 600;
          // border-radius: 25px;
          background: var(--main-color);
          margin-bottom: 16px;
        }

        &.cancel {
          width: 100%;
          max-width: 250px;
        }
      }
    }
  }
}

.policy-alert {
  background: RGBA(0, 0, 0, .8);

  .modal-content {
    padding: 32px;
    max-width: 520px;
    background: var(--gray16);

    .modal-title {
      color: var(--white);
      font-size: 1.3rem;
      padding-bottom: 8px;
      border-bottom: 1px solid var(--white);

      img {
        width: 6%;
        margin-right: 8px;
      }
    }

    .modal-description {
      padding: 16px 0 0 0;

      label {
        font-size: 1.4rem;
        color: var(--yellow1);
      }

      p {
        padding: 8px 0;
        font-size: 1.3rem;
        color: var(--white);
      }

      .example {
        font-size: 1.0rem;
      }
    }

    .ask-confirm {
      display: flex;
      place-content: center;
      font-size: 1.0rem;
      color: var(--yellow1);
      margin-top: 16px;
    }

    .confirm-btn {
      height: 40px;
      color: var(--white);
      font-size: 1.4rem;
      font-weight: 600;
      border-radius: 25px;
      background: var(--main-color);

    }
  }
}


@media screen and (max-width : 767px) {
  .content-body {
    .banner-wrapper {
      padding: 0 16px;
    }

    .login-form {
      .input-wrapper {

        input {
          width: 100%;
          // min-width: 320px;
        }
      }
    }

    .submit-button {
      margin-top: 12%;
    }
  }
}


.entry-alert-btn {
  display: none;
}

.entry-alert {

  .modal-content {
    padding: 32px;
    max-width: 60%;
    background: var(--gray16);

    .modal-title {
      color: var(--white);
      font-size: 1.3rem;
      padding-bottom: 8px;
      border-bottom: 1px solid var(--white);

      img {
        width: 6%;
        margin-right: 8px;
      }
    }

    .modal-description {
      padding: 16px 0;

      label {
        font-size: 1.5rem;
        color: var(--yellow1);
      }

      p {
        text-align: center;
        padding: 8px 0;
        // font-size: 1.3rem;
        font-size: 1.6rem;
        color: var(--white);

        span {
          font-size: 2.2rem;
          line-height: 1.7;
        }
      }
    }

    .confirm-btn {
      height: 50px;
      color: var(--white);
      font-size: 1.5rem;
      font-weight: 600;
      border-radius: 25px;
      background: var(--blue5);
    }
  }
}
