.board-btn {
  position: fixed;
  width: 76px;
  height: 76px;
  right: 32px;
  bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--blue8);
  color: var(--white);
  font-size: 2rem;
  box-shadow: 2px 2px 4px RGBA(0, 0, 0, 0.3);
  z-index: 999;
}

@media(max-width: 767px) {
  .toast-wrapper {
    width: 50%;
  }
}

.multi-login-alert {
  background: RGBA(0, 0, 0, .8);

  .modal-content {
    padding: 32px;
    width: 500px;
    max-width: 90%;
    background: var(--gray23);

    .modal-title {
      padding-bottom: 8px;
      color: var(--white);
      font-size: 2.1rem;
      border-bottom: 1px solid var(--white);
    }

    .modal-description {
      padding: 16px 0;

      label {
        font-size: 1.8rem;
        color: var(--yellow2);
      }

      p {
        padding: 8px 0;
        font-size: 16px;
        color: var(--white);
      }
    }

    .modal-footer {
      &.confirm-btn {
        justify-content: center !important;

        button {
          width: 100%;
          font-size: 16px;
        }
      }
    }
  }
}
