.mypage-title-wrapper {
  margin-bottom: 20px;

  .btn-danger {
    font-size: 1.4rem;
  }
}

article {
  margin-bottom: 30px;
}

.my-page-inner {
  margin-bottom: 16px;
  padding: 16px 16px 8px;
  border: 1px solid var(--gray22);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background: var(--white);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;

  .info-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .info-inner {
    position: relative;
    margin-bottom: 8px;
    flex-basis: 70%;
    margin-bottom: 0;

    &:nth-child(odd) {
      flex-basis: 21.5%;

      .info-desc {
        min-width: 250px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .info-title {
    font-weight: bold;
    color: var(--gray16);
  }

  .info-desc {
    margin-bottom: 8px;
    color: var(--gray18);
    word-break: break-all;
  }

  .info-title,
  .info-desc {
    font-size: 1.3rem;
  }
}

.date-wrapper {
  gap: 10px;

  .custom-select {
    max-width: 300px;
  }

  .btn-live {
    background: var(--orange2);
    color: white;
  }

  .btn-vod {
    background: var(--blue7);
    color: white;
  }
}

/** Modal **/
#recordModal {
  .modal-title {
    border-bottom: 1px solid var(--gray2);
    text-align: center;

    .item-btn {
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 16px;
      right: 16px;
      width: 2.62rem;
      height: 2.62rem;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      background: var(--white);
      border: none;

      .icon-close-w {
        font-size: 1rem;
      }
    }
  }

  .history-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 4px;
    margin-left: 10px;
  }

  .vod-title {
    height: 20px;
    font-size: 12px;
    margin-bottom: 0px;
    margin-left: 15px;
  }

  .no-history {
    font-size: 15px;
    font-weight: bold;
    height: 50px;
    text-align: center;
    margin-top: 25px;
  }

  .modal-dialog {
    min-width: 40%;
  }
}

.change-password {
  background: RGBA(0, 0, 0, .8);

  .modal-content {
    padding: 16px;
    width: 740px;
    max-width: 100%;

    .modal-title {
      font-size: 1.6rem;
      padding-bottom: 8px;
      border-bottom: 1px solid black;
    }

    .modal-description {
      padding: 16px 0;

      p {
        text-align: center;
        font-size: 1.4rem;
      }
    }

    .input-form {
      display: flex;
      flex-direction: column;
      color: var(--gray16);
      height: 88px;

      label {
        padding-left: 8px;
        font-size: 16px;
        font-weight: bold;
      }

      input {
        align-self: center;
        font-size: 16px;
        padding-left: 8px;
        width: 450px;
        max-width: 100%;
        height: 40px;
        min-height: 40px;
        border: none;
        background-color: var(--gray7);
      }

      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px var(--gray7) inset;
      }

      input:focus {
        outline: 1px solid var(--gray16);
      }

      .not-active {
        visibility: hidden;
      }

      .cancel {
        margin: 0 auto;
        margin-bottom: 0;
        color: var(--red);
      }

      margin-bottom:24px;
    }

    .submit-button {
      display: flex;
      flex-direction: column;
      align-items: center;

      button {
        font-size: 1.3rem;
        min-width: 114px;
      }

    }
  }
}
