<div class="content-body">
  <!-- <app-program-nav [dates]="dates" [rooms]="rooms" [selected]="selected" (setDateFn)="setAgendaList($event, rooms[0])"
    (setRoomFn)="setAgendaList(selected.date, $event)"></app-program-nav> -->
  <app-banner></app-banner>
  <div class="content-inner">
    <div class="live-player" *ngIf="live">
      <app-player *ngIf="showPlayer && live.provider === 'youtube'" [content]="live" [isLive]="true"
        [selected]="selected" [bannersLiveChat]="bannersLiveChat" (checkIsLastSession)="checkIsLastSession($event)"
        [agendas]="agendas">
      </app-player>

      <!-- IBM 사용시 ustream 모듈 사용 -->
      <div class="ustream-player-video-chat row" *ngIf="showPlayer && live.provider === 'ibm'">
        <div class="player-height"
          [ngClass]="{'col-md-10': classColMd, 'col-md-8': !classColMd && live.chatIncluded !== 3}">
          <app-player-ustream [content]="live" [selected]="selected" (checkIsLastSession)="checkIsLastSession($event)">
          </app-player-ustream>
        </div>

        <!-- 별도 채팅 여부 확인 -->
        <div *ngIf="liveChatUrl && live.chatIncluded === 1" class="player-height chat-height"
          [ngClass]="{'col-md-10': classColMd, 'col-md-4': !classColMd}">
          <iframe style="position:relative; display:block; width: 100%; height:100%; border:1px solid #ddd"
            [src]="liveChatUrl"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<button #entryAlertBtn class="entry-alert-btn" data-toggle="modal" data-target="#entryAlert">Entry modal open</button>

<!-- Entry modal -->
<div class="modal entry-alert fade" id="entryAlert" data-backdrop="static" role="dialog" aria-labelledby="entryAlert"
  data-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          알림
        </div>
        <div class="modal-description">
          <p class="text-center" style="color:yellow;">
            입장하시겠습니까?
          </p>
        </div>
        <div class="modal-footer in-out">
          <button type="button" class="btn btn-primary" [ngClass]="getAttendance()" data-toggle="modal"
            data-target="#entryAlert" (click)="atndnCheck()">
            {{getAttendance() === 'in' ?'확인':'Exit'}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
